.root{
    -fx-primary-color:#141313;
-fx-testColor:red;
}

.groupParent{
    -fx-background-color: -fx-primary-color;

}
.scrollPaneParent{

}

.topRecomededMovies{
    -fx-background-color:#141313;
}
.navigationalButtons{
    -fx-text-fill:#f06071;
    -fx-background-color:#141313;
}