.customInfo{
    -fx-background-color: #141313;
    -fx-opacity: 0.9;
}
.label{
    -fx-text-fill:#f06071;
    -fx-opacity: 1;
    -fx-font-family: Arial;
    -fx-alignment: center-left;
    -fx-wrap-text: false;
    -fx-text-overrun: ellipsis;
}
.playButton{
    -fx-pref-width: 40;
    -fx-pref-height: 20;
    -fx-text-fill:#f06071;
    -mfx-ripple-radius: 25;
    -mfx-auto-clip: true;
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-border-color: #024B64FF; /* Thin black border */
    -fx-border-width: 1; /* Border width */
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 5;
}

.playButton:hover{
    -fx-background-color: #024b64;
}


